
body {
    background-color: #F5F5F5;
}

.container{ 
    text-align: center;
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
}
.topBar {
    display: flex; 
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FF5700;
    padding: 1vmin;
    padding-bottom: 2vmin;
}

.topBar > *:nth-child(1) {
    flex: 1 1 38%
}

.topBar > *:nth-child(2) {
    flex: 1 1 62%
}

.header {
    display: flex;
}

.header :hover {
    cursor: default
}

.searchBar {
    display: flex;
 
}

.bodyDescription{
    margin-top: 100px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    flex: 1;
}

.content-wrap{
    flex: 1;
}

.passage {
    margin:0 auto;
    font-size: 20px;
    margin-bottom: 50px;
}

.loaderContainer{
    margin-top: 10em;
    display: flex;
    justify-content: center;
}

.footerContainer{
    margin-top: auto;
}