.container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin: 5vmin 0 0 0;
}

.toolTip {
    /* display: inline; */
    /* border-style: solid; */
    margin-top: 10vmin
}

.tipContainer {
    display: inline;
    border-style: solid;
}